
* {
    border: 1px dashed blue;
}

body {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
}

div {
    height: 50px;
    width: 100px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
}

#one {
    background-color: red;
}

#two {
    background-color: blue;
}

#three {
    background-color: yellow;
}

#four {
    background-color: green;
}