html, body, header, div, footer {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}
header, footer {
    height: 200px;
    border: 10px dotted black;
    background-color: blue;
}
div {
    height: 250px;
    border: 5px solid purple;
    display: inline-block;
}
#one {
    width: 20%;
}
#two {
    width: 80%;
}
