h1 {
    font-family: 'Niramit', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px blue;
    
}

p {
    font-size: 2rem;
}
.sans { 
    font-family: serif;
    color:blue
    
}
.serif { 
    font-family: sans-serif;
    color:green
    
}
.italic {
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.indent {
    text-indent: 65px;
}
.line {
    text-decoration: line-through;
}
a {
    text-decoration: none;
    font-size: 2rem;
}

