.one {
    color:blue
}
.two {
    color:teal
}
.three {
    color: blueviolet
}
.four {
    color: green
}
.five {
    color: darkgreen
}
.six {
    color:greenyellow
}
.seven {
    color:pink
}
.eight {
    color:fuchsia
}
.nine {
    color:grey
}
.ninetynine {
    color:sandybrown
}