h1 {
    text-align: center;
}

ul {
    text-align: center;
}

li:nth-child(even) {
	color: greenyellow
}

li:nth-child(odd) {
	color: blueviolet
}

li:first-child {
    color: green
}

li:last-child {
    color: orange
}

li:nth-child(2) {
    background: red
}

li:nth-child(23) {
    background: red;
		color: rosybrown
}

h1:only-child {
    color: red;
}

li:nth-child(5n-1) {
    background: magenta
}