body {
    display: flex;
    flex-flow: column nowrap;
    border: 5px solid red;
}

div {
    width: 100px;
    height: 100px;
     margin: 20px;
     border: 2px solid black;
     background-color: tomato;
     text-align: center;
     font: bold 2rem/1 sans-serif;
}

