ul {
    list-style: none;
    background: lightblue;
}
a {
    text-decoration: none;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
a:hover {
    background: darkblue;
}
li:last-child {
    border-bottom: none;
}