a:active {
    background-color: red;
}
a {
    text-decoration: none;
}
li {
    display: inline-block;
}
.button {
    background-color: blueviolet;
    color: yellowgreen;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}