html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: white;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid red;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("tropics.jpg");
}
p {
    font-size: 6rem;
    text-align: center;
}